/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --background-color: #fff;
  --background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px ),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);

    --font-variable-weight: 400;
    --accent-font-weight: 700;

    --accent-color: #000;
    --shadow-clr: #fff;
    --blend: #fff;
    
    --heart-contour: #000;
  }
  
  :root.theme-dark {
    --background-color: #000;
    --background-image: repeating-linear-gradient(
        to left,
       #000 0 2px,
        transparent 2px 4px ),
      repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c, #004306);

    --font-variable-weight: 465;
    --accent-font-weight: 785;

    --accent-color: #00cc14;
    --shadow-clr: #000;
    --blend: #00cc14;

    --heart-contour: #00cc14;  
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
    --background-color: #000;
    --background-image: repeating-linear-gradient(
        to left,
       #000 0 2px,
        transparent 2px 4px ),
      repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c, #004306);

    --font-variable-weight: 465;
    --accent-font-weight: 785;

    --accent-color: #00cc14;
    --shadow-clr: #000;
    --blend: #00cc14;

    --heart-contour: #00cc14; 
    }
  }
  